<ion-content>
  <div class="login-container">
    <h1>METAFIT</h1>
    
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Clave (4 dígitos)</ion-label>
      <ion-input [(ngModel)]="clave" type="password" maxlength="4"></ion-input>
    </ion-item>

    <ion-button class="pulse-button" expand="block" (click)="ingresar()">INGRESAR</ion-button>
  </div>
</ion-content>