<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido, {{ usuario }}!</h2>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información Personal</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Nombre -->
      <ion-item>
        <ion-label position="stacked">Nombre *</ion-label>
        <ion-input 
          #nombreInput
          [(ngModel)]="nombre" 
          type="text"
          placeholder="Ingrese su nombre">
        </ion-input>
      </ion-item>

      <!-- Apellido -->
      <ion-item>
        <ion-label position="stacked">Apellido *</ion-label>
        <ion-input 
          #apellidoInput
          [(ngModel)]="apellido" 
          type="text"
          placeholder="Ingrese su apellido">
        </ion-input>
      </ion-item>

      <!-- Nivel de Educación -->
      <ion-item>
        <ion-label position="stacked">Nivel de Educación</ion-label>
        <ion-select [(ngModel)]="educacion" interface="action-sheet">
          <ion-select-option value="basica">Básica</ion-select-option>
          <ion-select-option value="media">Media</ion-select-option>
          <ion-select-option value="superior">Superior</ion-select-option>
          <ion-select-option value="postgrado">Postgrado</ion-select-option>
        </ion-select>
      </ion-item>

     <!-- Fecha Nacimiento  -->
<ion-item>
  <ion-label position="stacked">Fecha Nacimiento</ion-label>
  <ion-input 
    [(ngModel)]="fechaNacimiento" 
    type="date"
    placeholder="Seleccione fecha">
  </ion-input>
</ion-item>

      <!-- Botones -->
      <div class="ion-margin-top">
        <ion-button expand="block" color="light" (click)="limpiar()">
          Limpiar
        </ion-button>
        
        <ion-button expand="block" (click)="mostrar()">
          Mostrar
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>